
.products {
  display: flex;
  flex-wrap: wrap;
}
.cards:hover {
  box-shadow: 5px 5px 5px 5px rgb(211, 194, 194);
  transform: scale(103%);
  transition: 0s;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.height{
  height: 400px;
}
.price{
  width:fit-content;
  border-radius:1px 200px 200px 1px;
}
.price::before{
  content: '';
  height: 2px;
  background-color: red;
}
.price::after{
  content: '';
  width: 100px !important;
  height: 20px !important;
  background-color: red;
}
/* style={{width:'100px',border:"10px 1px 10px 1px"}} */